<div data-controller="debounce"></div>

<%= form_with url: search_movies_path, method: :post do |form|%>
  <%= form.search_field :title_search, oninput: "this.form.requestSubmit()" %>
<%end%>

<%# <%= form_with url: search_movies_path, method: :post, data: {controller: "debounce", debounce_target: "form"} do |form|%>
  <%#= form.search_field :title_search, data: {action: "input-> debounce#search"}  %>
<%#end%> 

<div id="search_results">Search result</div>